@charset "utf-08";

header,
main,
footer{
  background-color: #d4efdf;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1rem;
}
#imageminicial {
  width: 200px;
  height: 150px;
  margin-left: 3rem;
}

nav {
  font-size: 1.8rem;
  padding: 20px 30px;
  margin: 0px 0px 0px 20px;
  font-family: 'BIZ UDMincho', serif;
}
section {
  margin: 0px 36px;
  border: 1px solid black;
  padding: 2%;
}
p{
  font-size: 20px;

}
#p2, #p3{
  padding-bottom: 15rem;
}
#p4{
  padding-bottom: 10rem;
}

.quadradodaimagem {
  border: 2px solid black;
  width: fit-content;
}
img {
  width: 450px;
  height: 350px;
}
figure {
  border: 1px solid black;
}

figcaption {
  font-size: x-large;
  text-align: center;
}

#imagem2{
  float: left;
}
#imagem3 {
  float: right;
}
#imagem4{
  float: left;
}
#imagem5{
  float:right
}
ol{
  font-size: larger;
}

footer{
  font-size: 1.3em;
  font-family: 'Akaya Kanadaka', cursive;
}
