body{
    border: 1px solid black;
    margin: 30px;
    padding: 50px 0px 50px 0px;
}

p{
    /*
    padding-top: 200px;
    padding-right: 300px;
    padding-bottom: 3%;
    padding-left: 36px; */
    padding: 200px 300px 3% 36px;
}
#img1{
    padding: 20px;


}
#img2{
    margin: 0px 20px 0px 20px;
}
div{
 text-align: center;
}